<!DOCTYPE >
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/goodList.css"/>
	</head>
	<body>
	
				<h1>
					<a href="javascript:;" class='a1'>ECSHOP 管理中心</a>
					<span class="s1">-</span>
					<span class='s2'>商品列表</span>
					<a href="javascript:;" class="a2"><img src="/images/jnsy.png"/></a>
					<a href="javascript:;" class="a3">+ 添加新商品</a>
				</h1>
				<div class="form-div">
					<span class="s1"></span>
					<select name="" class='sel1'>
						<option>所有商品分类</option>
						<option>钻石</option>
						<option>内衣</option>
					</select>
					<select name="" class='sel2'>
						<option>所有品牌</option>
						<option>钻石</option>
						<option>内衣</option>
					</select>
					<select name="" class='sel3'>
						<option>全部</option>
						<option>钻石</option>
						<option>内衣</option>
					</select>
					<select name="" class='sel4'>
						<option>全部</option>
						<option>钻石</option>
						<option>内衣</option>
					</select>
					<span class="s2">关键字</span>
					<input type="text" id="txt" />
					<button type="button"  id="search">搜索</button>
				</div>
				
				
				
				<form action="" method="post">
					<div class="listDiv">
						<table border="0" >
							<tr class="tr1">
								<td>
									<input type="checkbox" name="" id="" value="" />
									<span>编号</span>
								</td>
								<td>商品名称</td>
								<td>货号</td>
								<td>价格</td>
								<td>上架</td>
								<td>精品</td>
								<td>新品</td>
								<td>热销</td>
								<td>推荐排序</td>
								<td>库存</td>
								<td>虚拟销量</td>
								<td>操作</td>
							</tr>
							
							
						</table>
						<div id="txtBot">
							
							<p class="right"><span  class="first" >第一页</span>
								<span  class="pre" >上一页</span>
								<span  class="next" >下一页</span>
								<span class="last">最末页</span>
							</p>
							<p class="left">总计<span class="sum"></span>个记录分为<span class="page">1</span>页,当前第<span class="cur">1</span>页，每页<input type="text"/></p>
						</div>
					</div>
				</form>
				<div class="empty">
					没有任何记录 
				</div>
		
	</body>
	<script src="/javascripts/jquery-1.11.3.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/goodList.js" type="text/javascript" charset="utf-8"></script>
</html>