<!DOCTYPE >
<html>
	<head>
		<title></title>
	</head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/goodInfo.css"/>
	<body>

		<h1>
					<a href="javascript:;" class='a1'>ECSHOP 管理中心</a>
					<span class="s1">-</span>
					<span class='s2'>编辑商品中心</span>
					<a href="javascript:;" class="a2"><img src="/images/jnsy.png"/></a>
					<a href="javascript:;" class="a3">+ 商品列表</a>
				</h1>
				<div class="tab-div">
						<div class="tabbar-div">
							<p>
								<span>通用信息</span>
								<span>通用信息</span>
								<span>通用信息</span>
								<span>通用信息</span>
								<span>通用信息</span>
								<span>通用信息</span>
								<span>通用信息</span>
								<span>通用信息</span>
							</p>
					</div>
					<div class="tabbody-div">
						<form action="">
							<div class="goodName" class="d1">
								<div class="nameRight" class="d2">商品名称</div>
								<input type="text" name="" id="goodName" value="" class="inp1"/>
							</div>
							<div class="goodNum"class="d1">
								<div class="numRight" class="d2">商品货号</div>
								<input type="text" name="" id="goodNum" value="" class="inp1"/>
							</div>
							<div class="goodClass">
								<div class="classRight">商品分类</div>
								<select name="">
									<option >内衣</option>
									<option >钻石</option>
									<option >宝石</option>
								</select>
							</div>
							<div class="goodCart">
								<div class="cartRight">商品品牌</div>
								<select name="">
									<option >内衣</option>
									<option >钻石</option>
									<option >宝石</option>
								</select>
							</div>
							<div class="goodPrice">
								<div class="priceRight">商品价格</div>
								<input type="number" name="" id="goodPrice" value="" />
							</div>
							<div class="goodLiang">
								<div class="liangRight">库存</div>
								<input type="number" name="" id="goodLiang" value="" />
							</div>
							<div class="goodImg">
								<div class="imgRight">商品图片</div>
								<input type="file" name="" id="goodImg" value="" />
							</div>
							<div class="goodXL">
								<div class="xlRight">虚拟销量</div>
								<input type="number" name="" id="goodXL" value="" />
							</div>
							
							<div class="bot">
								<button type="button" onclick="get()">确定</button>
								<button type="button">重置</button>
							</div>
						</form>
					</div>
				</div>
	</body>
	<script src="/javascripts/jquery-1.11.3.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/goodEdit.js" type="text/javascript" charset="utf-8"></script>
</html>