<!DOCTYPE >
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
	</head>
	<body>
		<div class="top">
			<h1><a href="javascript:;"><img src="/images/topLogo.png"/></a></h1>
			<ul>
				<li><a href="javascript:;"><b></b><span>更多摸板塘产品</span></a></li>
				<li><a href="javascript:;"><b></b><span>开店向导</span></a></li>
				<li><a href="javascript:;"><b></b><span>记事本</span></a></li>
				<li><a href="javascript:;"><b></b><span>刷新</span></a></li>
				<li><a href="javascript:;"><b></b><span>个人设置</span></a></li>
				<li><a href="javascript:;"><b></b><span>管理员留言</span></a></li>
				<li><a href="javascript:;"><b></b><span>查看网店</span></a></li>
				<li><a href="javascript:;"><b></b><span>帮助</span></a></li>
				<li><a href="javascript:;"><b></b><span>关于ECSOP</span></a></li>
				<li><a href="javascript:;"><b></b><span>清除缓存</span></a></li>
				<li><a href="javascript:;"><b></b><span>退出</span></a></li>
			</ul>
		</div>
		<div class="nav">
			<ul>
				<li><a href="javascript:;"><b></b><span>起始页</span></a></li>
				<li><a href="javascript:;"><b></b><span>设置导航栏</span></a></li>
				<li><a href="javascript:;"><b></b><span>商品管理</span><i>1</i></a></li>
				<li><a href="javascript:;"><b></b><span>订单管理</span><i>1</i></a></li>
				<li><a href="javascript:;"><b></b><span>广告管理</span><i>1</i></a></li>
				<li><a href="javascript:;"><b></b><span>用户评论</span><i>1</i></a></li>
				<li><a href="javascript:;"><span>商品列表</span></a></li>
				<li><a href="javascript:;"><span>商品列表</span></a></li>
				<li><a href="javascript:;"><span>商品列表</span></a></li>
				<li><a href="javascript:;"><span>商品列表</span></a></li>
				<li><a href="javascript:;"><span>商品列表</span></a></li>
				<li><a href="javascript:;"><span>移动版</span></a></li>
				<li><a href="javascript:;"><span>商品列表</span></a></li>
			</ul>
		</div>
		<div class="main">
			<div class="silder">
				<div class="title">
					<a href="javascript:;">导航菜单</a>
				</div>
				<ul>
				<li><a href="javascript:;"><span><b>商品管理</b></span></a>
					<ol>
						<li><a href="javascript:;">商品列表</a></li>
						<li><a href="javascript:;">添加新商品</a></li>
						<li><a href="javascript:;">商品分类</a></li>
						<li><a href="javascript:;">用户评论</a></li>
						<li><a href="javascript:;">商品品牌</a></li>
						<li><a href="javascript:;">商品类型</a></li>
						<li><a href="javascript:;">商品回收站</a></li>
					</ol>
				</li>
				<li><a href="javascript:;"><span><b>促销管理</b></span></a>
					<ol>
						<li><a href="javascript:;">夺宝奇兵</a></li>
						<li><a href="javascript:;">红包类型</a></li>
						<li><a href="javascript:;">商品包装</a></li>
						<li><a href="javascript:;">祝福贺卡</a></li>
						<li><a href="javascript:;">团购活动</a></li>
						<li><a href="javascript:;">专题管理</a></li>
						<li><a href="javascript:;">拍卖活动</a></li>
					</ol>
				</li>
				<li><a href="javascript:;"><span><b>订单管理</b></span></a>
					<ol>
						<li><a href="javascript:;">夺宝奇兵</a></li>
						<li><a href="javascript:;">红包类型</a></li>
						<li><a href="javascript:;">商品包装</a></li>
						<li><a href="javascript:;">祝福贺卡</a></li>
						<li><a href="javascript:;">团购活动</a></li>
						<li><a href="javascript:;">专题管理</a></li>
						<li><a href="javascript:;">拍卖活动</a></li>
					</ol>
				</li>
				<li><a href="javascript:;"><span><b>广告管理</b></span></a>
					<ol>
						<li><a href="javascript:;">夺宝奇兵</a></li>
						<li><a href="javascript:;">红包类型</a></li>
						<li><a href="javascript:;">商品包装</a></li>
						<li><a href="javascript:;">祝福贺卡</a></li>
						<li><a href="javascript:;">团购活动</a></li>
						<li><a href="javascript:;">专题管理</a></li>
						<li><a href="javascript:;">拍卖活动</a></li>
					</ol>
				</li>
				<li><a href="javascript:;"><span><b>报表统计</b></span></a>
					<ol>
						<li><a href="javascript:;">夺宝奇兵</a></li>
						<li><a href="javascript:;">红包类型</a></li>
						<li><a href="javascript:;">商品包装</a></li>
						<li><a href="javascript:;">祝福贺卡</a></li>
						<li><a href="javascript:;">团购活动</a></li>
						<li><a href="javascript:;">专题管理</a></li>
						<li><a href="javascript:;">拍卖活动</a></li>
					</ol>
				</li>
				<li><a href="javascript:;"><span><b>文章管理</b></span></a>
					<ol>
						<li><a href="javascript:;">夺宝奇兵</a></li>
						<li><a href="javascript:;">红包类型</a></li>
						<li><a href="javascript:;">商品包装</a></li>
						<li><a href="javascript:;">祝福贺卡</a></li>
						<li><a href="javascript:;">团购活动</a></li>
						<li><a href="javascript:;">专题管理</a></li>
						<li><a href="javascript:;">拍卖活动</a></li>
					</ol>
				</li>
				<li><a href="javascript:;"><span><b>会员管理</b></span></a>
					<ol>
						<li><a href="javascript:;">夺宝奇兵</a></li>
						<li><a href="javascript:;">红包类型</a></li>
						<li><a href="javascript:;">商品包装</a></li>
						<li><a href="javascript:;">祝福贺卡</a></li>
						<li><a href="javascript:;">团购活动</a></li>
						<li><a href="javascript:;">专题管理</a></li>
						<li><a href="javascript:;">拍卖活动</a></li>
					</ol>
				</li>
				<li><a href="javascript:;"><span><b>权限管理</b></span></a>
					<ol>
						<li><a href="javascript:;">夺宝奇兵</a></li>
						<li><a href="javascript:;">红包类型</a></li>
						<li><a href="javascript:;">商品包装</a></li>
						<li><a href="javascript:;">祝福贺卡</a></li>
						<li><a href="javascript:;">团购活动</a></li>
						<li><a href="javascript:;">专题管理</a></li>
						<li><a href="javascript:;">拍卖活动</a></li>
					</ol>
				</li>
				<li><a href="javascript:;"><span><b>系统设置</b></span></a></li>
				<li><a href="javascript:;"><span><b>模板管理</b></span></a></li>
				<li><a href="javascript:;"><span><b>数据库管理</b></span></a></li>
				<li><a href="javascript:;"><span><b>短信管理</b></span></a></li>
				<li><a href="javascript:;"><span><b>推荐管理</b></span></a></li>
				<li><a href="javascript:;"><span><b>邮件群发管理</b></span></a></li>
				<li><a href="javascript:;"><span><b>移动版管理</b></span></a></li>
				<li><a href="javascript:;"><span><b>摸板塘知识库</b></span></a></li>
				</ul>
			</div>
			
			<div class="body">
				
				
			</div>
		
		
			
		
	</body>
	<script src="/javascripts/jquery-1.11.3.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/main.js" type="text/javascript" charset="utf-8"></script>
</html>